<div class="social-media">
  Made with <i class="bi bi-balloon-heart-fill"></i> by
  <a href="https://www.linkedin.com/in/mayurdahake" target="_blank"
    >Mayur Dahake</a
  >

  <a href="https://www.linkedin.com/in/mayurdahake" target="_blank">
    <i class="bi bi-linkedin"></i>
  </a>
  <a href="https://github.com/mayue13" target="_blank">
    <i class="bi bi-github"></i>
  </a>
  <a href="#" target="_blank">
    <i class="bi bi-twitter"></i>
  </a>
  <a href="#" target="_blank">
    <i class="bi bi-instagram"></i>
  </a>
</div>
